.leftSideBar {
  background-color: yellowgreen;
  display: grid;
  justify-items: end;
  align-content: space-between;
}

.leftSideBar > .leftContainer > div {
  height: fit-content;
  width: 275px;
  padding: 0 12px;
}

.lsbTop {
  display: grid;
  row-gap: 16px;
  justify-items: start;
}

.navigation {
  display: grid;
  justify-items: start;
  row-gap: 16px;
}

.navigation > button {
  overflow-wrap: break-word;
  font-size: 20px;
  border: none;
  padding: 12px 24px 12px 12px;
  border-radius: 24px;
  display: grid;
  align-items: center;
  grid-template-columns: max-content max-content;
  column-gap: 16px;
  background-color: rgba(255, 255, 255, 0);
}

.navigation > button:hover,
.logo:hover,
.logo:focus,
.logout:hover,
.navigation > button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline-color: #ffbc00;
  outline-style: dashed;
  outline-width: 4px;
}

.navigation > button > svg {
  width: 21px;
}

.logo {
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  height: 48px;
}

.buzz {
  overflow-wrap: break-word;
  font-size: 20px;
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  background-color: rgb(255, 217, 0);
  width: 80%;
}

.buzz:focus,
.buzz:hover {
  background-color: rgb(226, 192, 0);
  outline-color: #0077ff;
  outline-style: dashed;
  outline-width: 4px;
}

.logout {
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  padding: 12px;
  border-radius: 32px;
  border: none;
  height: 64px;
  margin: 12px 0;
  background-color: rgba(0, 0, 0, 0);
  column-gap: 12px;
}

.userPfp > img {
  width: 40px;
  border-radius: 50%;
}
.username {
  font-weight: bold;
}

.username,
.userAt {
  font-size: 15px;
}

.user {
  display: grid;
  justify-items: start;
}

.dots {
  height: 100%;
  display: grid;
  align-items: center;
}

.leftContainer {
  position: fixed;
  height: 100vh;
  display: grid;
  align-content: space-between;
}
