.newBuzzElement {
  padding: 4px 16px 8px;
  border-bottom: 1px solid rgba(148, 167, 197, 0.3);
  height: fit-content;
  width: 598px;
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 12px;
}

.newBuzzElement > div:first-child {
  padding-top: 4px;
}

.newBuzzElement > div:first-child > img {
  height: 48px;
  width: 48px;
  border-radius: 24px;
  background-color: #8ba2b1;
}

.newBuzzElement > div:nth-child(2) > div:nth-child(2) {
  display: grid;
  grid-template-columns: max-content max-content;
  padding-top: 4px;
  justify-content: space-between;
  height: 48px;
  align-items: end;
}

.newBuzzElement > div:nth-child(2) > div:first-child > textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  height: 52px;
  width: 502px;
  font-size: 20px;
  padding: 12px 0;
}

.newBuzzElement > div:nth-child(2) > div:first-child > textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8ba2b1;
  opacity: 1; /* Firefox */
}

.newBuzzElement
  > div:nth-child(2)
  > div:first-child
  > textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8ba2b1;
}

.newBuzzElement
  > div:nth-child(2)
  > div:first-child
  > textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #8ba2b1;
}

.buzzAttach > button {
  height: 34px;
  width: 34px;
  display: grid;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  fill: rgb(255, 208, 0);
}

.buzzAttach > button > svg {
  height: 20px;
  width: 20px;
}
.buzzAttach > button > svg > path {
  stroke-width: 1px;
}

.buzzAttach {
  display: grid;
  grid-template-columns: repeat(6, minmax(34px, max-content));
}

.newBuzzElement > div:nth-child(2) > div:nth-child(2) > button {
  font-size: 15px;
  padding: 0 16px;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 76px;
  height: 36px;
  font-weight: 500;
}

.buzzAttach > button:hover {
  background-color: rgba(255, 208, 0, 0.1);
  border-radius: 50%;
}

.newBuzzElement > div:nth-child(2) > div:nth-child(2) > button:disabled {
  opacity: 0.5;
  outline: none;
}

.newBuzzElement > div:nth-child(2) > div:nth-child(2) > button:disabled:hover {
  opacity: 0.5;
  outline: none;
  background-color: rgb(255 153 0);
}
